body {
    margin: 0;
    padding: 25px;
}
.top {
    border: 5px solid black;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    margin-bottom: 20px;
    
}
.purple {
    background-color: blueviolet;
    height: 150px;
    width: 50px;
}
.green {
    background-color: forestgreen;
    height: 200px;
    width: 400px;
    margin: 0 50px;
}
.blue {
    background-color: skyblue;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.mid {
    border: 5px dotted black;
    padding: 50px;
    margin-top: 25;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.twinky {
    height: 200px;
    width: 100%;
    background-color: #fffacd;
    box-shadow: grey 10px 10px 5px 0px;
}
.bot {
    width: 50%;
    margin: 25px auto;
    border: 2px solid lightgrey;
    background-color: white;
    padding: 100px;
    box-sizing: border-box;
    box-shadow: grey 3px 3px 5px 0px;
}
.hf {
    color:  navy;
    width: 100%;
    text-align: center;
    letter-spacing: 10px;
    font-size: 2em;
    font-weight: bold;
}